@{
    ViewData["Title"] = "Home Page";
}
<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2 id="pageTitle">@ViewData["Title"]</h2>
            <ol>
                <li><a href="index.html">Home</a></li>
                <li>Inner Page</li>
            </ol>
        </div>

    </div>
</section><!-- End Breadcrumbs -->

<section class="inner-page pt-2">
    <div class="container">        
        <div class="row">
            <div class="col-md-3">
                <div class="icon-box">
                    <img src="~/images/locker3.jpg" class="img img-thumbnail"/>
                    <h4><a href="#">26 Lugbe Airport Road, Abuja</a></h4>
                    <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-sm-9">
                        <label>Feature</label><br />
                        <select>
                            <option>Small</option>
                            <option>Medium</option>
                        </select>
                    </div>
                    <div class="col-sm-3 text-right">
                        <a href="javascript:void(0);" data-toggle="ajax-modal" data-url="@Url.Action("guidesize","locker")" class="smallModalId text-primary"><i class="fa fa-plus"></i> ...View Guide Size</a>
                    </div>
                </div>
                <hr />
                <div id="home">

                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {

        var url = "https://lockershub.azurewebsites.net/api/Lockers/GetAllLockers";
        Load("/locker/GetLockersBySearch?apiUrl=" + url);
    });
    $(function () {

        $("#Name,#SurName").keyup(function (e) {
            var n = $("#Name").val();
            var sn = $("#SurName").val();
            $.get("/locker/Index?Name=" + n + "&SurName=" + sn, function (r) {
                //update ui with results
                $("#resultsTable").html(r);
            });

        });

    });
</script>