@{
    ViewData["Title"] = "Rent Now";
}
<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2 id="pageTitle">@(ViewData["TCount"] != null ? ViewData["TCount"] : ViewData["Title"])</h2>
            <ol>
                <li><a href="/locker/index">Home</a></li>
                <li>@ViewData["Title"]</li>
            </ol>
        </div>

    </div>
</section><!-- End Breadcrumbs -->


<section class="inner-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4><i class="fa fa-list-alt"></i> Navigation to the rental page is successful </h4>
            </div>
        </div>
    </div>
</section>
