<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center text-black-50">

        <div class="logo mr-auto">
            <h1><a href="index.html">Lockers Hub</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav class="nav-menu d-none d-lg-block text-left">
            <ul>
                <li class="active"><a href="/locker/index">Home</a></li>
                <li><a asp-action="index" asp-controller="locker">Find a Locker</a></li>
                <li><a href="#">Size Guide</a></li>
                <li><a href="#">Locations</a></li>
                <li><a href="#">Help Center</a></li>
                @*<li class="drop-down">
                    <a href="">About</a>
                    <ul>
                        <li><a href="#about">About Us</a></li>
                        <li><a href="#team">Team</a></li>
                        <li class="drop-down">
                            <a href="#">Deep Drop Dow</a>
                            <ul>
                                <li><a href="#">Deep Drop Down 1</a></li>
                                <li><a href="#">Deep Drop Down 2</a></li>
                                <li><a href="#">Deep Drop Down 3</a></li>
                                <li><a href="#">Deep Drop Down 4</a></li>
                                <li><a href="#">Deep Drop Down 5</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>*@

            </ul>
        </nav><!-- .nav-menu -->

        <div class="header-social-links text-right">
            <a href="#" class="text-black-50">My Account</a>
            <a href="#" class="text-black-50">08162785817</a>
            <a href="#" class="btn btn-sm btn-primary text-white p-2 pt-2 pb-2">Pay a Bill</a>
        </div>

    </div>
</header><!-- End Header -->
